# AGENT KEYS
GROQ_API_KEY = "your_api_key_here"

# GOOGLE CLOUD CLIENT KEYS
CLIENT_ID = "your_client_id_here"
CLIENT_SECRET = "your_client_secret_here"

# GOOGLE CLOUD TOKENS
ACCESS_TOKEN = "your_access_token_here"
REFRESH_TOKEN = "yout_refresh_token_here"